/* General style */

.block-login, .block-register {
	margin : 7px 5px;
}


.block-match {
	margin : 7px;
}

@media screen and (max-width: 480px) and (max-height: 760px) {

  	#newGame {
			margin-top: 10px;
		}

}

/* Element style */

#timer
{
	font-size:70px;
	font-family: "digital-clock", Helvetica, sans-serif;
	color: #38e9fb;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
	background: #f8f5f0;
	border : 3px none solid;
	border-radius: 10px;
}

.popup {
	margin-top: 25px;
	display: none;
}

.popup .overflow{
	display: block;
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.9);
}

.titre-page{
	font-size:36px;
	margin-bottom:20px;
	margin-left:35px;

}

.popup .modal-pop{
}

.centre
{
	width:100%;
	height:40%;
	box-sizing: border-box;         /* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    /* For Firefox                          */
	-webkit-box-sizing: border-box; /* For Safari                           */
}

.btn-round {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#btn-instructions
{
	background-color: #98FB98;
	color:white;
	text-align: center;
}

#btn-instructions span
{
	font-size: 16px;
	font-weight: bolder;
}

#popup-instructions .jumbotron
{
	margin:0px;
}

body
{
	background-color: #edfcf7;
}

textarea
{
	resize:vertical;
}

#buttonCheck, #gotIt
{
	width:100%;
}

#container_jeu, #title, #essais, #loadGame
{
	display:none;
}



#textInput
{
	border-radius : 10px;
	border:none;
	width:100%;
}

/* Animations */

.showMe {
	display: block!important;
	opacity: 1;
	animation: fadeOut 2s ease-in-out;
    -moz-animation: fadeOut 2s ease-in-out;
    -webkit-animation: fadeOut 2s ease-in-out;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	display:block !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

@keyframes fadeOut {
    0% {
        opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}
@-webkit-keyframes fadeOut {
    0% {
       opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}

/* Polices */

@font-face{
 	font-family:'digital-clock';
 	src: url('../inspire/fonts/digital-7.ttf');
 }

@font-face{
	font-family:'roboto';
  src: url('../inspire/fonts/Roboto-light.ttf');
}
