.popup {
	margin-top: 25px;
	display: none;
}

.popup .overflow{

	display: block;
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.9);
}

.textSize
{
	font-family: "roboto light";
	font-size:16;
}


.popup .modal-pop{


}

.centre
{
	width:100%%;
	height:40%;
	box-sizing: border-box;         /* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    /* For Firefox                          */
	-webkit-box-sizing: border-box; /* For Safari                           */
}

.btn-round {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#btn-instructions
{
	background-color: #98FB98;
	color:white;
	text-align: center;
}

#btn-instructions span
{
	font-size: 16px;
	font-weight: bolder;
}

body
{
	background-color: #edfcf7;
}

textarea
{
	resize:vertical;
}

#buttonCheck
{
	background-color:#37a6c4;
	width:100%;
}

#container_jeu, #title, #essais
{
	display:none;
}

#timer
{
	font-family: "roboto light";
	font-size:16;
}

#textInput
{
	border-radius : 10px;
	border:none;
}

.showMe {
	display: block!important;
	opacity: 1;
	animation: fadeOut 2s ease-in-out;
    -moz-animation: fadeOut 2s ease-in-out;
    -webkit-animation: fadeOut 2s ease-in-out;
}


@keyframes fadeOut {
    0% {
        opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}
@-webkit-keyframes fadeOut {
    0% {
       opacity:0;
        display: block;
    }
    100% {
        opacity:1;
        display: none;
    }
}
